<section>
    <!-- STRING INTERPOLATION -->
    <h3>Personal Details:</h3>
    <p>First Name: {{firstName}}</p>
    <p>Last Name: {{lastName}}</p>
    <p>Age: {{age}}</p>
    <p>This person is {{ age > 18 ? "an adult." : "not an adult."}}</p>

    <hr>

    <!-- PROPERTY BINDING -->
    <input type="text" [placeholder]="placeholderValue" [disabled]="isInputDisabled" />

    <!-- EVENT BINDING -->
    <button (click)="onHandleClick()">Click me</button>

    <hr>
    <br>
    <br>

    <input type="text" placeholder="Address" (change)="onHandleAddressChange($event)" />
    <p>{{address}}</p>
    <br>

    <!-- TWO WAY DATA BINDING -->
    <hr>
    <br>
    <br>

    <input type="text" placeholder="Movie Name" [(ngModel)]="movieName" />
    <p>{{movieName}}</p>
    <button (click)="changeMovieNameProgrammatically()">Change Movie Name</button>

</section>